<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BindIp" value="127.0.0.1" />
    <add key="BindPort" value="13779" />
    <add key="RemoteIp" value="255.255.255.255" />
    <add key="RemotePort" value="15779" />
    <add key="VerboseLogging" value="true" />
  </appSettings>
</configuration>
